sspinn/nets/hyak_long.txz.part-aa filter=lfs diff=lfs merge=lfs -text
sspinn/nets/hyak_long.txz.part-ab filter=lfs diff=lfs merge=lfs -text
sspinn/nets/hyak_long.txz.part-ac filter=lfs diff=lfs merge=lfs -text
